@import "../../shared/styles/variables";
@import "../shared/auth.scss";

@media (min-width: 1024px) {
  .auth {
    &__box-circles--login {
      top: -17%;
      right: -33%;
      transform: rotate(-130deg);
    }
  }
}
