@import "../../shared/styles/variables";
@import "../shared/auth.scss";

.form {
  &__box {
    &-checkbox {
      margin-right: 1.2rem;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid $gray;
      appearance: none;
      cursor: pointer;

      &:checked {
        border-color: $black;
        background-color: $orange;
      }
    }

    &--checkbox {
      position: static;
      display: flex;
      align-items: center;
    }

    &-label--checkbox {
      position: static;
      width: auto;
      transform: none;
      font-size: 1.4rem;
      color: $gray;
    }
  }
}

@media (min-width: 1024px) {
  .auth {
    &__box-circles--login {
      transform: rotate(-130deg);
      top: -17%;
      right: -33%;
    }
  }
}
