
<div class="instruction flex-center section-padding" *ngIf="show" #instruction>
    <div class="wrapper instruction__container">
        <div class="instruction__box">
            <p class="instruction__box-heading">Jak grać?</p>
            <p class="instruction__box-text">Z jednej strony fiszki zapisane jest pojęcie, z drugiej definicja i
                opcjonalnie przykłady użycia w zdaniu. Poświęć choćby 5-10 minut dziennie a w dość szybkim tempie
                zobaczysz postępy.</p>
        </div>
        <div class="instruction__box">
            <p class="instruction__box-heading">Poziomy</p>
            <p class="instruction__box-text">Każda fiszka początkowo jest na poziomie znajomości “nieznane”. Przeciągaj ją do sekcji “wiem”, aby przełożyć ją o poziom wyżej. Powtarzaj tą czynność do uzyskania poziomu “bardzo dobrze znane”. Jeśli przełożysz fiszkę do sekcji “nie wiem” cofasz się do pierwszego etapu. Wszystkich etapów jest 5.</p>
        </div>
        <div class="instruction__box">
            <p class="instruction__box-heading">Sterowanie</p>
            <p class="instruction__box-text">Kliknij po prostu na środek karty myszką. Klawiaturą za to całe sterowanie odbywa się przez klawisz "tab". Po "najechaniu" na kartę i kliknięcia klawisza "enter", strona zostanie zmieniona.</p>
        </div>

        <button class="instruction__button button" (click)="onClose()">Zamknij</button>
    </div>
</div>
