<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form__box">
        <app-field class="form__field">
            <input type="password" formControlName="newPassword" id="new-password" appInput>
            <label for="new-password" label>Hasło</label>
            <app-icon src="/assets/icons/key.svg" alt="" left inputId="new-password"></app-icon>
        </app-field>

        <div *ngIf="form.get('newPassword') as newPassword">
            <app-error *ngIf="newPassword.errors?.required && newPassword.touched">
                To pole jest obowiązkowe.</app-error>
            <app-error *ngIf="newPassword.errors?.minlength">
                Hasło musi być dłuższe niż 8 znaków.</app-error>
        </div>

        <app-field class="form__field">
            <input type="password" formControlName="repeatNewPassword" id="repeat-new-password" appInput>
            <label for="repeat-new-password" label>Powtórz hasło</label>
            <app-icon src="/assets/icons/key.svg" alt="" left inputId="repeat-new-password"></app-icon>
        </app-field>

        <div *ngIf="form.get('repeatNewPassword') as repeatNewPassword">
            <app-error *ngIf="repeatNewPassword.errors?.similar && repeatNewPassword.value !== ''">
                To pole nie jest takie same jak hasło.</app-error>
        </div>
    </div>

    <button class="form__submit button" [disabled]="form.invalid" type="submit">Zmień</button>
</form>