<app-loader *ngIf="isLoading"></app-loader>
<section class="auth wrapper section-padding" *ngIf="!isLoading">
    <div class="auth__box" *ngIf="!signupSuccessfully">
        <app-circles [class]="'auth__box-circles auth__box-circles--' + mode"></app-circles>
        <h2 class="auth__title title">{{ this.mode === 'login' ? 'Logowanie' : 'Rejestracja' }}</h2>

        <app-login-form [form]="form" *ngIf="mode === 'login'" (submit)="onSubmit($event)"></app-login-form>
        <app-signup-form [form]="form" *ngIf="mode === 'signup'" (submit)="onSubmit($event)"></app-signup-form>

        <a [routerLink]="[ '/auth', mode === 'login' ? 'signup' : 'login']" class="auth__link">
            {{ mode === 'login' ? 'Zarejestuj się' : 'Zaloguj się' }}
        </a>
    </div>

    <div class="auth__signup-info" *ngIf="signupSuccessfully">
        <p class="auth__signup-info-heading">Sprawdź swój e-mail</p>
        <p class="auth__signup-info-text">Na e-mail został wysłany link aktywujący konto.</p>
    </div>
</section>