<section class="auth wrapper section-padding">
    <div class="auth__box" *ngIf="!signupSuccessfully">
        <app-circles class="auth__box-circles"
            [ngClass]="{'auth__box-circles--login': isLoginRoute, 'auth__box-circles--signup': !isLoginRoute}">
        </app-circles>

        <h2 class="auth__title title">{{ isLoginRoute ? 'Logowanie' : 'Rejestracja' }}</h2>
        <form [formGroup]="authForm" class="form" (ngSubmit)="onSubmit()">
            <div class="form__box">
                <app-field>
                    <input type="text" formControlName="username" id="username" appInput>
                    <label for="username" label>Nazwa użytkownika</label>
                    <app-icon src="../../assets/icons/search.svg" alt="" left inputId="username"></app-icon>
                </app-field>
            </div>

            <div class="form__box" *ngIf="!isLoginRoute">
                <app-field>
                    <input type="text" formControlName="email" id="email" appInput>
                    <label for="email" label>E-mail</label>
                    <app-icon src="../../assets/icons/search.svg" alt="" left inputId="email"></app-icon>
                </app-field>
            </div>

            <div class="form__box">
                <app-field>
                    <input type="password" formControlName="password" id="password" appInput>
                    <label for="password" label>Hasło</label>
                    <app-icon src="../../assets/icons/search.svg" alt="" left inputId="password"></app-icon>
                </app-field>
            </div>

            <div class="form__box" *ngIf="!isLoginRoute">
                <app-field>
                    <input type="password" formControlName="repeatPassword" id="repeat-password" appInput>
                    <label for="repeat-password" label>Powtórz hasło</label>
                    <app-icon src="../../assets/icons/search.svg" alt="" left inputId="repeat-password"></app-icon>
                </app-field>
            </div>

            <div class="form__box form__box--checkbox" *ngIf="isLoginRoute">
                <label for="remember-me" class="form__box-label--checkbox">Zapamiętaj mnie</label>
                <input type="checkbox" formControlName="rememberMe" id="remember-me" class="form__box-checkbox">
            </div>

            <button type="submit" class="form__button button button--orange" [disabled]="authForm.invalid">
                {{ isLoginRoute ? 'Zaloguj się' : 'Zarejestuj się' }}
            </button>
        </form>

        <a [routerLink]="[ '/auth', isLoginRoute ? 'signup' : 'login']" class="auth__link">
            {{ isLoginRoute ? 'Zarejestuj się' : 'Zaloguj się'}}
        </a>
    </div>

    <div class="auth__signup-info" *ngIf="signupSuccessfully">
        <p class="auth__signup-info-heading">Sprawdź swój e-mail</p>
        <p class="auth__signup-info-text">Na e-mail został wysłany link aktywujący konto.</p>
    </div>
</section>