@import "../shared/styles/variables";

:host {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.auth {
    &__box-circles {
        display: none;
    }

    &__title {
        margin-bottom: 3.2rem;
    }

    &__link {
        display: block;
        text-align: center;
        font-size: 1.4rem;
        text-decoration: none;
        color: $gray;
    }

    &__signup-info {
        color: $black;
        
        &-heading {
            font-size: 2.4rem;
            margin-bottom: 3.2rem;
            font-weight: 700;
        }
        text-align: center;
    }
}

.form {
    display: grid;
    row-gap: 3.2rem;
    margin: 0 auto 4.8rem auto;
    width: clamp(25rem, 100%, 32.5rem);

    .circles {
        display: none;
    }

    &__button {
        padding: 0.8rem 1.6rem;
        font-size: 1.6rem;
    }

    &__box {
        &-checkbox {
            position: static;
            width: auto;
        }

        &--checkbox {
            position: static;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-label--checkbox {
            position: static;
            width: auto;
            transform: none;
            margin-right: 1.6rem;
        }
    }
}

@media (min-width: 1024px) {
    .auth {
        &__box {
            position: relative;
            width: fit-content;
            margin: 0 auto;
            border-radius: 5px;
            padding: 3.2rem;
            box-shadow: -4px 4px 16px rgba(0, 0, 0, 0.25);

            &-circles {
                position: absolute;
                display: block;

                &--login {
                    transform: rotate(-130deg);
                    top: -17%;
                    right: -33%;
                }

                &--signup {
                    transform: rotate(50deg);
                    left: -50%;
                    bottom: -20%;
                }
            }
        }
    }
}
