<div class="stats">
    <div class="stats__box wrapper">
        <div class="stats__item stats__item--red" [ngClass]="{ 'stats__item--activate': data.currentGroup === 1 }">{{
            data.groups.group1 }}</div>
        <div class="stats__item stats__item--yellow" [ngClass]="{ 'stats__item--activate': data.currentGroup === 2 }">{{
            data.groups.group2 }}</div>
        <div class="stats__item stats__item--light-yellow" [ngClass]="{ 'stats__item--activate': data.currentGroup === 3 }">{{
            data.groups.group3 }}</div>
        <div class="stats__item stats__item--light-green"
            [ngClass]="{ 'stats__item--activate': data.currentGroup === 4 }">{{ data.groups.group4 }}</div>
        <div class="stats__item stats__item--green" [ngClass]="{ 'stats__item--activate': data.currentGroup === 5 }">{{
            data.groups.group5 }}</div>
    </div>
</div>