<section class="server-error section-padding">
    <div class="wrapper">
        <h1 class="server-error__title title">Poliglot - Wewnętrzny błąd serwera</h1>
        <p class="server-error__text">Wystąpił błąd, który nie jest obsługiwany. Proszę spróbować ponownie za jakiś
            czas. Gdy sytuacja pojawi się ponownie, prosimy o skontaktowanie się na github z twórcą aplikacji.</p>
        <p class="server-error__apology">Za wszystkie niedogodności <span class="server-error__apology-span">przepraszamy</span> i z góry dziękujemy za wspólne rozwijanie aplikacji.</p>
    </div>
</section>
