@import "../../styles/variables";

.field {
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

input {
    padding: 1.6rem 4.2rem 1.6rem 4.2rem;
    width: 100%;
    display: block;
    color: $gray;
    font-size: 1.2rem;
    font-family: inherit;
    border-radius: 10rem;
    border: 1px solid $gray;

    &:focus {
        color: $black;
        border: 1px solid $orange;
        outline: none;
    }
}

label {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    padding: 0 4.2rem;
    font-weight: 500;
    transform: translateY(-50%);
    width: 100%;
    height: fit-content;
    font-size: 1.2rem;
    pointer-events: none;
}

input:focus ~ label,
.input--not-empty ~ label {
    display: none;
}