.form {
    &__box {
        margin-bottom: 3.2rem;
    }

    &__field {
        display: block;
        margin-top: 3.2rem;
    }

    &__submit {
        font-size: 2.4rem;
        padding: 0.8rem;
        width: 100%;
        max-width: 34rem;
    }
}
