@import "../../shared/styles/variables";
.sets-panel {
    &__title {
        padding: 1.6rem 0;
        color: $black;
        text-align: center;
        text-transform: uppercase;
    }

    &__load-more {
        border: none;
        text-transform: uppercase;
        text-decoration: underline;
        color: $gray;
        margin: 0 auto 1.6rem auto;
        display: block;
        background: none;
        font-size: 1.8rem;
        font-weight: 600;
    }

    &__empty-state {
        text-align: center;
        color: $black;
        padding: 3.2rem;
        &-heading {
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 1.6rem;
            font-size: 2.4rem;
        }

        &-text {
            font-family: "Raleway", sans-serif;
            font-size: 1.8rem;
        }
    }

    &__box {
        background-color: $whitesmoke;
    }

    &__sets {
        padding: 3.2rem 0;
        display: grid;
        width: fit-content;
        grid-template-columns: 1fr 1fr;
        gap: 3.6rem;
        margin: 0 auto;
    }

    &__set {
        &--even {
            grid-column: 1/2;
        }

        &--odd {
            grid-column: 2/3;
        }

        &--last {
            grid-column: 1/3;
            margin: 0 auto;
        }
    }

    &__create {
        display: block;
        padding: 0.8rem 1.6rem;
        margin: 0 auto 1.6rem auto;
        width: fit-content;
        border-radius: 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 600;
        color: $gray;
        border: 1px solid $gray;
    }
}


@media (min-width: 1024px) {
    .sets-panel {
        &__sets {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
        }

        &__set--last {
            margin: 0;
        }
    }
}