$orange-gradient: linear-gradient(180deg, #fb9962 0%, #ffac60 100%);
$gray: rgba(0, 0, 0, 0.6);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$orange: rgb(255, 173, 96);
$creamy: rgb(248, 240, 228);
$whitesmoke: #fafafa;

$red: #d40000;
$yellow: #ffa800;
$light-yellow: #e5dd0b;
$light-green: #51d400;
$green: #00a507;

$purple: #9422c9;
$light-purple: #ba55eb;
$level-yellow: #ffce00;
$gray-two: #636363;
$gray-three: #868686;