$orange-gradient: linear-gradient(180deg, #fb9962 0%, #ffac60 100%);
$gray: rgba(0, 0, 0, 0.6);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$orange: rgb(255, 173, 96);
$creamy: rgb(248, 240, 228);
$whitesmoke: rgb(250, 250, 250);
$nav-list-color: rgb(251, 153, 98);

$red: rgb(212, 0, 0);
$yellow: rgb(255, 168, 0);
$light-yellow: rgb(229, 221, 11);
$light-green: rgb(81, 212, 0);
$green: rgb(0, 165, 7);

$purple: rgb(148, 34, 201);
$light-purple: rgb(186, 85, 235);
$level-yellow: rgb(255, 206, 0);
$gray-two: rgb(99, 99, 99);
$gray-three: rgb(134, 134, 134);