<form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
    <div class="form__box">
        <app-field>
            <input type="text" formControlName="username" id="username" appInput>
            <label for="username" label>Nazwa użytkownika</label>
            <app-icon src="/assets/icons/user.svg" alt="" left inputId="username"></app-icon>
        </app-field>

        <div *ngIf="form.get('username') as username">
            <app-error *ngIf="username.errors?.required && username.touched">
                To pole jest obowiązkowe.</app-error>
            <app-error *ngIf="username.errors?.pattern">
                Nazwa może się składać jedynie z liter.
            </app-error>
            <app-error *ngIf="username.errors?.minlength">
                Nazwa musi być dłuższa niż 4.</app-error>
            <app-error *ngIf="username.errors?.alreadyTaken">
                Taki użytkownik już istnieje.</app-error>
        </div>
    </div>

    <div class="form__box">
        <app-field>
            <input type="text" formControlName="email" id="email" appInput>
            <label for="email" label>E-mail</label>
            <app-icon src="/assets/icons/mail.svg" alt="" left inputId="email"></app-icon>
        </app-field>

        <div *ngIf="form.get('email') as email">
            <app-error *ngIf="email.errors?.required && email.touched">
                To pole jest obowiązkowe.</app-error>
            <app-error *ngIf="email.errors?.pattern">
                Podaj poprawny email.</app-error>
            <app-error *ngIf="email.errors?.alreadyTaken">
                Ten email jest już zajęty.</app-error>
        </div>
    </div>

    <div class="form__box">
        <app-field>
            <input type="password" formControlName="password" id="password" #password appInput>
            <label for="password" label>Hasło</label>
            <app-icon src="/assets/icons/key.svg" alt="" left inputId="password"></app-icon>
        </app-field>

        <div *ngIf="form.get('password') as password">
            <app-error *ngIf="password.errors?.required && password.touched">
                To pole jest obowiązkowe.</app-error>
            <app-error *ngIf="password.errors?.minlength">
                Hasło musi być dłuższe niż 8 znaków.</app-error>
        </div>
    </div>


    <div class="form__box">
        <app-field>
            <input type="password" formControlName="repeatPassword" id="repeat-password" #repeatPassword appInput>
            <label for="repeat-password" label>Powtórz hasło</label>
            <app-icon src="/assets/icons/key.svg" alt="" left inputId="repeat-password"></app-icon>
        </app-field>

        <div *ngIf="form.get('repeatPassword') as repeatPassword">
            <app-error *ngIf="repeatPassword.errors?.similar && repeatPassword.value !== ''">
                To pole nie jest takie same jak hasło.</app-error>
        </div>
    </div>

    <button type="submit" class="form__button button button--orange" [disabled]="form.invalid">
        Zarejestuj się
    </button>
</form>
