<div class="circles">
    <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg" class="circles__circle circles__circle--one">
        <circle cx="36" cy="36" r="36" fill="url(#paint0_linear_427:1474)" />
        <defs>
            <linearGradient id="paint0_linear_427:1474" x1="0" y1="72" x2="72" y2="0" gradientUnits="userSpaceOnUse">
                <stop offset="1" stop-color="#FDA162" />
                <stop offset="1" stop-color="#FFAD60" />
            </linearGradient>
        </defs>
    </svg>
    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg" class="circles__circle circles__circle--two">
        <circle cx="19" cy="19" r="19" fill="url(#paint0_linear_427:1476)" />
        <defs>
            <linearGradient id="paint0_linear_427:1476" x1="0" y1="38" x2="38" y2="0" gradientUnits="userSpaceOnUse">
                <stop offset="1" stop-color="#FDA162" />
                <stop offset="1" stop-color="#FFAD60" />
            </linearGradient>
        </defs>
    </svg>
    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg" class="circles__circle circles__circle--three">
        <circle cx="19" cy="19" r="19" fill="url(#paint0_linear_427:1475)" />
        <defs>
            <linearGradient id="paint0_linear_427:1475" x1="0" y1="38" x2="38" y2="0" gradientUnits="userSpaceOnUse">
                <stop offset="1" stop-color="#FDA162" />
                <stop offset="1" stop-color="#FFAD60" />
            </linearGradient>
        </defs>
    </svg>
</div>