.circles {
    position: relative;
    width: 20rem;
    height: 12rem;

    &__circle {
        position: absolute;

        &--one {
            position: absolute;
            right: 0;
            top: 0;
        }

        &--two {
            position: absolute;
            left: 40%;
            bottom: 0;
        }

        &--three {
            position: absolute;
            left: 0;
            bottom: 25%;
        }
    }
}
