<div class="cards">
    <div class="cards__box">
        <app-card [isActivate]="false" [setName]="setName" [card]="cardsView.deactive[1]"
            class="cards__box-item cards__box-item--three"></app-card>
        <app-card [isActivate]="false" [setName]="setName" [card]="cardsView.deactive[0]"
            class="cards__box-item cards__box-item--two"></app-card>
        <app-card [isActivate]="true" [setName]="setName" [card]="cardsView.active" #activate
            class="cards__box-item cards__box-item--one"></app-card>
    </div>
    
    <div class="buttons">
        <button class="buttons-item buttons-item--dont-know" (click)="onLearn(false)" #dontKnow>Nie wiem</button>
        <button class="buttons-item buttons-item--know" (click)="onLearn(true)" #know>Wiem!</button>
    </div>
</div>