<app-instrucion #instrucion></app-instrucion>
<!-- get animation of rotating  -->
<div class="cards">
  <div class="cards__box">
    <app-card [isActivate]="false" class="cards__box-item cards__box-item--three"></app-card>
    <app-card [isActivate]="false" class="cards__box-item cards__box-item--two"></app-card>
    <app-card [isActivate]="true" [setName]="setName" [card]="card" (showInstrucion)="instrucion.onShow()"
      class="cards__box-item cards__box-item--one"></app-card>
  </div>

  <div class="buttons">
    <button class="buttons-item buttons-item--dont-know" (click)="onLearn(false)">Nie wiem</button>
    <button class="buttons-item buttons-item--know" (click)="onLearn(true)">Wiem!</button>
  </div>
</div>
