@import "../../auth-form.scss";

.form {
  &__box {
    &-checkbox {
      margin-right: 1.2rem;
      width: 20px;
      height: 20px;
      border: 1px solid $gray;
      border-radius: 50%;
      appearance: none;
      cursor: pointer;

      &:checked {
        background-color: $orange;
        border-color: $black;
      }
    }

    &--checkbox {
      position: static;
      display: flex;
      align-items: center;
    }

    &-label--checkbox {
      position: static;
      width: auto;
      transform: none;
      color: $gray;
      font-size: 1.4rem;
    }
  }
}
