<div class="waves" [ngClass]="{ 'waves--rotate': rotate }">
    <svg class="waves__wave waves__wave--big" width="1218" height="1092" viewBox="0 0 1218 1092" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="M1218 1091.5L0.00012207 1091.5L0.000122813 1083L9.54219e-05 1.55894e-05C202.5 39.5 231.611 110.685 329.5 264.5C433.235 427.5 523.669 628.189 651 668C1038 789 1203.73 958.068 1218 1091.5Z"
            fill="url(#paint0_linear_427_1309)" />
        <defs>
            <linearGradient id="paint0_linear_427_1309" x1="297.542" y1="1098" x2="804.714" y2="254.605"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FB9962" />
                <stop offset="1" stop-color="#FFAC60" />
            </linearGradient>
        </defs>
    </svg>


    <svg class="waves__wave waves__wave--small" width="514" height="556" viewBox="0 0 514 556" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0L514 0L514 556C307.5 535.5 298.485 319.315 200.5 165.5C102.515 11.6853 0 0 0 0Z"
            fill="url(#paint0_linear_427_1310)" />
        <defs>
            <linearGradient id="paint0_linear_427_1310" x1="514" y1="-1.37958e-05" x2="89.9546" y2="256.877"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FB9962" />
                <stop offset="1" stop-color="#FFAC60" />
            </linearGradient>
        </defs>
    </svg>
</div>