.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  pointer-events: none;
}

:host[right] .icon {
  left: auto;
  right: 1.6rem;
}
