@import "./app/shared/styles/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p,
a,
label,
h2 {
    line-height: 150%;
}

button {
    cursor: pointer;
}

body {
    font-size: 1.8rem;
    color: $gray;
    font-family: "Montserrat", sans-serif;
    position: relative;
    min-height: clamp(500px, 100vh, 100vh);
}

.box {
    padding-top: 7.6rem;
    display: flex;
    min-height: 100vh;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.section-padding {
    padding: 12rem 0;
}

.title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: $black;
    text-align: center;
}

.button {
    margin: 0 auto;
    display: block;
    width: fit-content;
    border-radius: 50px;
    border: none;
    background-color: $orange;
    border: 1px solid $orange;
    color: $white;
    font-weight: 700;
    text-transform: uppercase;

    &--reverse {
        color: $gray;
        border: 1px solid;
        font-family: inherit;
        background-color: $white;
    }
}

@media (min-width: 768px) {
    .wrapper {
        width: 75%;
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
