<div class="shapes">
    <img src="../../assets/wave_top_right.svg" alt="" class="shapes__top">
</div>
<section class="home section-padding">
    <div class="home__box wrapper">
        <div class="home__container">
            <div class="home__header">
                <img src="../../assets/icons/hat.svg" class="home__header-icon" alt="">
                <h2 class="home__header-title">
                    <span class="home__header-title-span">ucz się szybciej</span>
                    <span class="home__header-title-span">ucz się lepiej</span>
                </h2>
            </div>

            <p class="home__text">Metodą fiszek nauczysz się szybciej. Wystarczy, że poświęcisz 10 minut dziennie na
                systematyczną naukę.</p>

            <app-field>
                <input type="text" formControlName="password" id="password" appInput>
                <label for="password" label>Wyszukaj zestaw...</label>
                <app-icon src="../../assets/icons/search.svg" alt="" left inputId="password"></app-icon>
            </app-field>

            <p class="home__paragraph">
                <span class="home__paragraph-span">lub</span>
                <a [routerLink]="[ '/sets/create' ]" class="home__paragraph-link">Stwórz zestaw</a>
            </p>
        </div>
        <img src="../../assets/cards.png" alt="" class="cards">
    </div>
</section>