@import "../shared/styles/variables";

.shapes {
    display: none;
}

.home {
    &__cards {
        display: none;
    }

app-field {
    max-width: 32.5rem;
}

    &__header {
        position: relative;

        &-icon {
            position: absolute;
            top: 0;
            left: clamp(12rem, 40%, 16.5rem);
            transform: translate(-50%, -50%);
            width: 1.8rem;
        }

        &-title {
            font-size: 3.2rem;
            color: $black;
            font-weight: 800;
            text-transform: uppercase;
            line-height: 150%;

            &-span {
                display: block;
            }
        }
    }

    &__text {
        margin: 3.2rem 0;
        line-height: 160%;
    }

    &__paragraph {
        text-align: center;

        &-span {
            display: block;
            margin: 2.4rem 0;
            font-size: 2.4rem;
            text-transform: uppercase;
        }

        &-link {
            color: inherit;
            font-size: 2.8rem;
            text-decoration: underline;
        }
    }
}

@media (min-width: 1024px) {
    .shapes {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 100%;
        height: 100%;

        &__top {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            width: 67%;
            height: auto;
            max-width: 918px;
        }
    }

    .home {        
        &__box {
            display: flex;
            align-items: center;
        }

        &__cards {
            position: relative;
            width: 40%;
            display: block;

            app-circles {
                position: absolute;
                z-index: -1;
                bottom: 0;
                right: -5%;
            }
        }

        &__header {
            &-title {
                font-size: 4.8rem;
            }

            &-icon {
                width: 3.4rem;
            }
        }

        &__text {
            font-size: 2.4rem;
        }

        &__paragraph-span {
            font-size: 3.6rem;
        }

        &__paragraph-link {
            font-size: 1.8rem;
        }

        &__container {
            width: 60%;
        }
    }
}
