<div class="shapes">
    <svg width="918" height="846" viewBox="0 0 918 846" fill="none" xmlns="http://www.w3.org/2000/svg"
        class="shapes__top">
        <path d="M0 0.5L918 0V8.5V846C607.5 801.639 610.906 402.689 315 351C-26.4369 291.358 14.0978 133.932 0 0.5Z"
            fill="url(#paint0_linear_427:496)" />
        <defs>
            <linearGradient id="paint0_linear_427:496" x1="624" y1="-6.5" x2="114" y2="831.5"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FB9962" />
                <stop offset="0.520833" stop-color="#FFAC60" />
            </linearGradient>
        </defs>
    </svg>

</div>

<section class="home section-padding">
    <div class="home__box wrapper">
        <div class="home__container">
            <div class="home__header">
                <img src="../../assets/icons/hat.svg" class="home__header-icon" alt="">
                <h2 class="home__header-title">
                    <span class="home__header-title-span">ucz się szybciej</span>
                    <span class="home__header-title-span">ucz się lepiej</span>
                </h2>
            </div>
            
            <p class="home__text">Metodą fiszek nauczysz się szybciej. Wystarczy, że poświęcisz 10 minut dziennie na
                systematyczną naukę.</p>

                <app-field>
                    <input type="text" formControlName="password" id="password" appInput>
                    <label for="password" label>Wyszukaj zestaw...</label>
                    <app-icon src="../../assets/icons/search.svg" alt="" left inputId="password"></app-icon>
                </app-field>
                
                <p class="home__paragraph">
                    <span class="home__paragraph-span">lub</span>
                <a routerLink="/sets/create" class="home__paragraph-link">Stwórz zestaw</a>
                <a routerLink="/auth/create" class="home__paragraph-link">Stwórz zestaw</a>
            </p>
        </div>
        
        <div class="home__cards">
            <img src="../../assets/cards.png" alt="" class="home__cards-img">
            <app-circles></app-circles>
        </div>
    </div>
</section>