.core {
    position: relative;
    min-height: clamp(500px, 100vh, 100vh);


    &__box {
        padding-top: 7.6rem;
        display: flex;
        min-height: 100vh;
        justify-content: space-between;
        flex-direction: column;
    }
}
